/*
 * BOXZOOM
 */
.leaflet-control-boxzoom {

	background-color:white;
	background: rgba(255,255,255,0.2);
    border-radius:4px;
	border:3px solid rgba(255,255,255,0.2);
    width:30px;
    height:30px;
    line-height:30px;
    cursor:pointer !important;
}

.with-background-image {
    background-image:url(images/leaflet-control-boxzoom.png);
    background-repeat:no-repeat;
    background-size:30px 30px; /* 25px image, 25px box; subtract 2px for padding on every side = 21px rendering height */
    background-position:0px 0px;
}

.leaflet-control-boxzoom.leaflet-control-boxzoom-active {
    background-color:#aaaaaa;
}

.leaflet-container.leaflet-control-boxzoom-active, .leaflet-container.leaflet-control-boxzoom-active path.leaflet-interactive {
    cursor:crosshair !important;
}

.leaflet-control-boxzoom i {
    display:block;
}

.leaflet-control-boxzoom i.icon {
    font-size:17px;
    margin-left:1px;
    margin-top:3px;
}

.leaflet-control-boxzoom i.fa {
    margin-top:6px;
}
.leaflet-control-boxzoom i.glyphicon {
    margin-top:5px;
}
